<div class="intro-message wrap">

    <h3>
        {{#if (theme-setting "New_User")}}
            Welcome to Discourse!
        {{else}}
            Welcome back to Discourse!
        {{/if}}
    </h3>
    
    {{d-icon "grin-beam"}} <strong>{{{theme-setting "Greeting_Type"}}}</strong>
    {{theme-i18n "banner_message"}}

</div>